<div class="container">  
  
  <mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
      MALARIA AREAS
      </div>    
    </mat-toolbar>  
  <br><br>  
    <mat-card-content>  
      <form [formGroup]="malariaareaForm"(ngSubmit)="onFormSubmit(malariaareaForm.value)">  
              <table>  
                <tr>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="City" matTooltip="Enter City Name" matInput placeholder="City">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!malariaareaForm.get('City').value && malariaareaForm.get('City').touched"></span>  
                    </mat-error>  
                  </td> 
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="Province" matTooltip="Enter Province Name" matInput placeholder="Province">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!malariaareaForm.get('Province').value && malariaareaForm.get('Province').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="Country" matTooltip="Enter Country" matInput placeholder="Country">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!malariaareaForm.get('Country').value && malariaareaForm.get('Country').touched"></span>  
                      </mat-error>  
                    </td>  
                               
                <tr>  
                  
                  <td  class="content-center">  
                    <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!malariaareaForm.valid">Submit</button>  
  <br><br>  
      
                    <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                  </td>  
                  <td>  
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{massage}}  
                    </p>  
                  </td>  
                </tr>  
              </table>  
  <br><br>  
        <table class="table" >  
            <tr ngclass="btn-primary">  
              <th class="tbl2">City</th>  
              <th class="tbl2">Province</th>  
              <th class="tbl2">Country</th>  
            
   
            </tr>  
            <tr *ngFor="let malariaarea of allMalariaareas | async">  
              <td class="tbl2">{{malariaarea.City}}</td>  
              <td class="tbl2">{{malariaarea.Province}}</td> 
             <td class="tbl2">{{malariaarea.Country}}</td>
              <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadMalariaareaToEdit(malariaarea.AreaID)" mat-raised-button color="accent">Edit</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteMalariaarea(malariaarea.AreaID)" mat-raised-button color="accent">Delete</button>  
              </td>  
            </tr>  
    
          </table>  
      </form>  
    </mat-card-content>  
  </mat-card>  
  </div>  