<!--The content below is only a placeholder and can be replaced.-->
<mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: center;">  
      MALARIA
      </div>    
    </mat-toolbar>  
  <br><br> 
<nav>
  <a routerLink="/generalinformation" routerLinkActive="active"><button class ="btn btn-success pull-right" mat-raised-button color="accent" >GENERAL INFORMATON</button></a>
  <a routerLink="/emergencycontact" routerLinkActive="active"><button class ="btn btn-success pull-right" mat-raised-button color="accent" >EMERGENCY CONTACTS</button></a>
  <a routerLink="/frequentlyaskedquestion" routerLinkActive="active"><button class ="btn btn-success pull-right" mat-raised-button color="accent" >FREQUENTLY ASKED QUESTIONS</button></a>
</nav>

<router-outlet></router-outlet>